<!doctype html>
<html ng-app="walkerApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.js"></script>  
    <script src="https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>
    <script src="scripts/walker.js"></script>
  </head>
  <body>
    <div ng-controller="AuthenticationController">
      User: {{currentUser}} <br/>
      <span style="color:red">{{authError.code}}</span>
      <h3>Signup</h3>
      <p>
        Email: 
        <input type="text" ng-model="userEmail"/><br/>
        Password: 
        <input type="text" ng-model="userPassword"/><br/>
        <button ng-click="createUser()">Register</button>
      </p> 
    </div>
    <div ng-controller="ReadingsController" ng-init="init()">
      <h3>Add reading</h3>
      <p>
       Date:
       <input type="text" ng-model="readingDate"/><br/>
       Step Count
       <input type="text" ng-model="stepsCount"/><br/>
       <button ng-click="addReading()">Add</button>
      </p>

      <ul ng-repeat="reading in stepsData">
         <li>{{reading.readingDate}}:  {{reading.stepsCount}}</li>
      </ul>
    </div>
  </body>
</html>
