<!doctype html>
<html>
<head>
  <title>Walker - The First Million Steps are Always the Hardest</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
